@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
:root{
    --darkblue--:#0A1D3C;
    --lightgray--:#e5e5e5;
    --white--:#fff;
    --lightpeach--:#f9e3bc;
    ---darkgray--: #3e3f43;
    ---lightblack--:#1d1d1d;
}
html{
  scroll-behavior: smooth;
}

/*---section one---*/
.section{
    min-height: 100vh;
    width: 100%;
}
nav{
    width: 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.navlinks{
    display: flex;
}
header{
    width: 100%;
    height: calc(100vh- 15vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
.header-img{
    width: 40rem;
}
.logo{
    font-size: 2.5rem;
    color: var(--darkblue--);
    font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
}
.navlinks li{
    list-style: none;
}
.navlinks li a{
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(---darkgray--);
    font-size: 1.2rem;
    letter-spacing: .03rem;
    position: relative;
}

.header-heding{
    margin-top: 15rem;
    font-size: 4.5rem;
    position: relative;
}
.header-heding::before{
    content:"New";
    position: absolute;
    top: -60px;
    color: var(--darkblue--);
    font-family: "Allison", cursive;
    font-size: 5rem;
}
.Products-name{
    font-size: 1.7rem;
}
.header-price{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}
.button {
  cursor: pointer;
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  .navlinks li a::after,.navlinks li .active::after{
content:"";
background: var(---darkgray--);
position: absolute;
height: .15rem;
width: 100%;
left: 0;
bottom: -5px;
transform: scalex(0);
transition: transform .5s ease;
}
.navlinks li a:hover::after, .navlinks li .active::after{
    transform: scalex(1);
}
.line{
    background: var(---darkgray--);
    width: 2.5rem;
    height: .2rem;
    margin: .38rem;
}
.hamburger{
    cursor: pointer;
    display: none;
}
/*----section two---*/
.section-two{
  display: flex;
  align-items: center;
}
.section-two-container{
  background: var(--lightpeach--);
  width: 100%;
  height: 50vh;
  transform: skewY(-6deg);
}
.section-two-img{
width: 25rem;
}
.section-two-inner-container{
  transform: skewY(6deg);
  width: 80%;
}

.section-two-container, .section-two-inner-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-two-heading{
  color: var(---darkgray--);
  font-size: 3rem;
}
.section-two-para{
  font-size: 1rem;
  color: var(---darkgray--);
  line-height: 1.5rem;
  max-width: 80%;
}
.section-two-price{
  font-size: 1.5rem;
  color: var(---darkgray--);
  margin: .9rem 0rem;
}

/*---section threee*/
.section-heading{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.card-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
gap: 3rem;
}
.card-image{
  width: 17rem;
  background: none;
}
.card-container .card{
  background: var(--lightgray--);
  padding: 2rem ;
  border-radius: 1rem;
  transition: transform .3s ease-in-out;
}
.card-container .card:hover{
  cursor: pointer;
  transform: scale(1.2);
  zoom: 1;
  border: .1rem solid  rgb(0, 0, 0);
}
.card-price{
  font-size: 1.2rem;
  margin-top: .2rem;
  margin-bottom: 1.2rem;
}



/*---section four---*/
.section-four{
  display: flex;
  align-items: center;
}

.section-four-container{
  background-image: url("wa/paul-cuoco-gVuxWHe1-IY-unsplash.jpg" );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.section-four-container::before{
  position: absolute;
  content:"";
  background: rgba(0, 0, 0, 0.544 );
  inset: 0;
}
.section-four-container .content{
  z-index: 5;
}
.section-four-offer{
  font-size: 4rem;
  color: var(--lightpeach--);
  font-family: "Allison", cursive;
  text-transform: uppercase;
}
.section-four-heading{
  font-size: 4rem;
  color: var(--white--);
  margin-bottom: 1.5rem;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff7f7;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }





 /*----section five---*/
 .grid-card-container{
 cursor: pointer;
  width: 70%;
  height: 65vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3 , 1fr);
  gap: 1.2rem;
  grid-auto-rows: 2rem;
 }
 .grid-card{
  background: var(--lightgray--);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
 }
 .grid-card:nth-child(1){
  background-image: url("wa/col1.jpg");
  grid-row: 1/4;
 }
 .grid-card:nth-child(2){
  background-image: url("wa/puru-raj-USRSU4QoXBI-unsplash.jpg");

 }
 .grid-card:nth-child(3){
  background-image: url("wa/76-XKTbo7S9_uQ-unsplash.jpg");
  grid-row: 1/3;
 }
 .grid-card:nth-child(4){
  background-image: url("wa/solees-time-G2ogDSkDJCo-unsplash.jpg");
  grid-row: 3/4;
 }
 .grid-card:nth-child(5){
  background-image: url("wa/w1__13_-removebg-preview.png");
 }
 .grid-card:nth-child(6){
  background-image: url("wa/studio-crevettes-Ju-6TPKXdBs-unsplash.jpg");
 }
 .grid-card::before{
  cursor: pointer;
  content:"";
  position: absolute;
  background: rgba(0, 0, 0, 0.0644);
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s ease-in-out;
 }
 .grid-card:hover::before{
  transform: scaleX(1);
  transform-origin: left;
 }
 .grid-card:hover::after{
  opacity: 1;
  visibility: 1;
 }
 .grid-card::after{
  content:attr(collection);
  position: absolute;
  text-transform: uppercase;
  background: var(--lightpeach--);
  top: 50%;
  left: 35%;
  transform: translate(-50 , -50);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
 }





 /*---fotter--*/
 footer{
  margin-top: 5rem;
  background: var(---lightblack--);
  height: 20vh;
  width: 100%;
  display:flex;
  justify-content: center;

 }
 .foter-text{
  color: white;
  font-size: 1.5rem;

 }

















/*----media quries---*/
@media screen and (max-width: 500px){

  /*----section one---*/
    .header-img{
        display: none;
    }
    .navlinks{
       flex-direction: column;
       position: absolute;
       top: 0;
       background: var(--lightgray--);
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;
       right: 100%;
       z-index: 2;
       gap: 2rem;
       transition: .7s ease-in-out;
    }
    .navlinks-active{
      right: 0;
    }
    .navlinks li a{
        font-size: 1.3rem;
        margin-left: 0;
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    .header-heding{
        font-size: 3rem;
    }
    header{
        justify-content: flex-start;
    }
    .section.logo{
        z-index: 5;
    }


    /*----section two----*/
    .section-two-img{
      display: none;
    }
    .section-two-heading{
      font-size: 2.9rem;
    }
    .section-two-para{
      font-size: .93rem;
      max-width: 100%;
    }
    .section-two-price{
      font-size: 1.4rem;
    }
    .section-two-container{
      height: 60vh;
    }
    .section-two-inner-container{
      width: 90%;
    }

    /*---section theree--*/
    .card-image{
      width: 17rem;
    }

    /*----section four---*/
    .section-four-heading{
      font-size: 2.8rem;
    }
    .section-four-offer{
      font-size: 3.3rem;
    }


    /*---section five---*/
    .grid-card-container{
      grid-template-columns: repeat(2 ,1fr);
      grid-template-rows: repeat(3 ,1fr);
      width: 90%;
    }
    .grid-card:nth-child(1),.grid-card:nth-child(3){
      grid-row: 1/2;
    }
} 
  
  
  